body {
	width: 1300px;
	height: 2104px;
}

/****************************
Header Styling
****************************/


.masthead {
	width: 1300px;
	height: 523px;
	background-image: url('../img/waves.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
}

header .blue-container {
	position: absolute;
	height: 523px;
	width: 1300px;
}

.logo-plus-nav {
	width: 990px;
	height: 45px;
	position: relative;
	margin-top: 10px;
	margin-left: 141px;
	margin-right: 169px;
}

.top-logo {
	width: 270px;
	margin-right: 0;
	float: left;
}

.top-logo img {
	height: 45px;
	width: 45px;
	margin: 0;
	padding: 0;
}

.top-logo p {
	position: relative;
	left: 10px;
	top: -17px;
	font-size: 16.2px;
	letter-spacing: -.005em;
}

.top-nav {
	position: absolute;
	right: 0;
	font-size: 20px;
	top: 9px;
	letter-spacing: -.15em;
}

.top-nav li:first-child {
	margin-right: 15px;
}

.top-nav li:nth-child(2) {
	margin-right: 7px;
}

.top-nav img {
	position: relative;
	width: 15px;
	height: 16px;
}

.inline-block {
	display: inline-block;
}

.title-container {
	position: relative;
	text-align: center;
	margin: 165px 201px 195px 196px;
	width: 902px;
	height: 104px;
}

.title-container h1 {
	font-size: 110px;
	color: white;
	padding:0;
	letter-spacing: -.1em;
}

.title-container h6 {
	position: relative;
	top: -15px;
	font-size: 15px;
	letter-spacing: .007em;
}

header p, header ul, header h6, header a, header a:visited {
	color: rgb(11, 53, 80);
}


/******************************
Section Styling
******************************/

.main-content {
	width: 1300px;
	height: 1007px;
	border-bottom: 1px solid rgb(229, 233, 235);
}

article:first-child {
	float: left;
	width: 861px;
	height: 1007px;
}

sidebar {
	float: right;
	width: 439px;
	height: 1007px;
}

/******************************
Article Styling
******************************/

article header ul li {
	display: inline-block;
}

.small-anne {
	height: 26px;
	width: 26px;
}

.main-content footer ul li {
	display: inline-block;
}

/******************************
Sidebar Styling
******************************/

sidebar ul li {
	display: inline-block;
}

/******************************
Footer Styling
******************************/

.main-footer {
	width: 1300px;
	height: 573px;
	text-align: center;
}

footer h2 {
	position: relative;
	width: 580px;
	top: 40px;
	margin: auto;
	letter-spacing: .01em;
	font-size: 3.89em;
}

.popular-posts {
	position: relative;
	top: 84px;
}

.popular-posts li {
	display: inline-block;
	height: 330px;
	font-size: 26px;
}

.popular-posts li:first-child {
	background-image: url('../img/beach-surfer.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 324px;
}

.popular-posts li .blue-container {
	height: 330px;
	color: rgb(9, 46, 72);
	transition: all .8s ease;
}

.popular-posts li .blue-container:first-child {
	width: 324px;
}

.popular-posts li:first-child h3 {
	margin-left: 15px;
	margin-bottom: .6em;
	font-size: 1.063em;
	letter-spacing: .035em;
}

.popular-posts li:nth-child(2) {
	background-image: url('../img/beer.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 325px;
}

.popular-posts li .blue-container:nth-child(2) {
	width: 325px;
}

.popular-posts li:nth-child(2) h3 {
	margin-left: .59em;
	margin-bottom: .52em;
	font-size: 1.15em;
	letter-spacing: -.005em;
}

.popular-posts li:nth-child(3) {
	background-image: url('../img/zach.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 325px;
}

.popular-posts li .blue-container:nth-child(3) {
	width: 325px;
}

.popular-posts li:nth-child(3) h3 {
	margin-left: .6em;
	margin-bottom: .5em;
	line-height: 1.25em;
	font-size: 1.14em;
	text-indent: -26px;
}

.popular-posts li:nth-child(4) {
	background-image: url('../img/taps.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 326px;
	height: 330px;
}

.popular-posts li .blue-container:last-child {
	width: 326px;
}

.popular-posts li:last-child h3 {
	margin-left: .73em;
	margin-bottom: .6em;
	font-size: 1.1em;
	letter-spacing: .01em;
	text-indent: -;
}

.popular-posts li .blue-container:hover {
	background-color: rgba(43, 119, 177, 0);
	color: white;
}

.popular-posts li h3 {
	position: absolute;
	bottom: 0;
}

.bottom-nav li {
	display: inline-block;
}

footer footer {
	position: relative;
	top: 82px;
	width: 1300px;
	height: 97px;
	background-color: rgb(9, 46, 72);
}

.bottom-logo-nav-container {
	position: relative;
	margin-right: 161px;
	margin-left: 162px;
	width: 977px;
	height: 35px;
	top: 27px;
	color: rgb(152, 170, 182);
}

.bottom-logo {
	position: absolute;
	left: -127px;
	width: 600px;
	height: 35px;
	font-size: 13px;
}

.bottom-logo li:first-child {
	position: relative;
	left: 3px;
}

.bottom-logo li:last-child {
	position: relative;
	left: 15px;
	top: -9px;
	letter-spacing: .01em;
}

.bottom-nav {
	position: absolute;
	right: 0;
	top: 14px;
	font-size: .879em;
	letter-spacing: .0099em;
}

/******************************
General Styling
******************************/

.blue-container {
	background-color: rgba(43, 119, 177, .7);
	/*z-index: 1;*/
}

p, ul, h6, a, blockquote, li {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, li span {
	font-family: "Oswald", sans-serif;
}

h2 {
	font-size: 62px;
	color: rgb(9, 46, 72);
}

.top-nav a, .bottom-nav a {
	text-decoration: none;

}

.top-nav, {
	font-family: 'Oswald', sans-serif;
}

.title-container h1 {
	font-family: 'Martel Sans', sans-serif;
}