body {
	width: 1300px;
	height: 2104px;
}

/****************************
Header Styling
****************************/


.masthead {
	width: 1300px;
	height: 523px;
	background-image: url('../img/waves.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0;
}

header .blue-container {
	position: absolute;
	height: 523px;
	width: 1300px;
}

.logo-plus-nav {
	width: 990px;
	height: 45px;
	position: relative;
	margin-top: 10px;
	margin-left: 141px;
	margin-right: 169px;
}

.top-logo {
	width: 270px;
	margin-right: 0;
	float: left;
}

.top-logo img {
	height: 45px;
	width: 45px;
	margin: 0;
	padding: 0;
}

.top-logo p {
	position: relative;
	left: 10px;
	top: -17px;
	font-size: 16.2px;
	letter-spacing: -.005em;
}

.top-nav {
	position: absolute;
	right: 0;
	font-size: 20px;
	top: 9px;
	letter-spacing: -.15em;
}

.top-nav li:first-child {
	margin-right: 15px;
}

.top-nav li:nth-child(2) {
	margin-right: 7px;
}

.top-nav img {
	position: relative;
	width: 15px;
	height: 16px;
}

.inline-block {
	display: inline-block;
}

.title-container {
	position: relative;
	text-align: center;
	margin: 165px 201px 195px 196px;
	width: 902px;
	height: 104px;
}

.title-container h1 {
	font-size: 110px;
	color: white;
	padding:0;
	letter-spacing: -.1em;
}

.title-container h6 {
	position: relative;
	top: -15px;
	font-size: 15px;
	letter-spacing: .007em;
}

header p, header ul, header h6, header a, header a:visited {
	color: rgb(11, 53, 80);
}


/******************************
Section Styling
******************************/

.main-content {
	width: 1300px;
	height: 1007px;
	border-bottom: 1px solid rgb(229, 233, 235);
}

article:first-child {
	float: left;
	width: 861px;
	height: 1007px;
}

sidebar {
	float: right;
	width: 439px;
	height: 1007px;
}

/******************************
Article Styling
******************************/

article header ul li {
	display: inline-block;
}

.small-anne {
	height: 26px;
	width: 26px;
}

.main-content footer ul li {
	display: inline-block;
}

/******************************
Sidebar Styling
******************************/

sidebar ul li {
	display: inline-block;
}

/******************************
Footer Styling
******************************/

.popular-posts li {
	display: inline-block;
}

.popular-posts li:first-child {
	background-image: url('../img/beach-surfer.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 324px;
	height: 330px;
}

.popular-posts li:nth-child(2) {
	background-image: url('../img/beer.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 325px;
	height: 330px;
}

.popular-posts li:nth-child(3) {
	background-image: url('../img/zach.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 325px;
	height: 330px;
}

.popular-posts li:nth-child(4) {
	background-image: url('../img/taps.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	width: 326px;
	height: 330px;
}

.bottom-nav li {
	display: inline-block;
}

/******************************
General Styling
******************************/

.blue-container {
	background-color: rgba(43, 119, 177, .7);
	/*z-index: 1;*/
}

p, ul, h6, a, blockquote {
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, li span {
	font-family: "Oswald", sans-serif;
}

.top-nav a, .bottom-nav a {
	text-decoration: none;

}

.top-nav {
	font-family: 'Oswald', sans-serif;
}

.title-container h1 {
	font-family: 'Martel Sans', sans-serif;
}